<?xml version="1.0" ?>
<!--
  ~   @author     Daniel Coull <hello@boxleafdigital.com>
  ~   @copyright  27/01/2020, 19:29 Daniel Coull
  ~   @version   1.0.0
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="BoxLeaf::banner_slider" module="BoxLeaf_BannerSlider"  parent="Magento_Backend::content" resource="Magento_Backend::content" sortOrder="9999" title="boxleaf Digital Banners"/>
		<add action="boxleaf_bannerslider/bannerslider/index" id="BoxLeaf_BannerSlider::boxleaf_bannerslider_bannerslider" module="BoxLeaf_BannerSlider" parent="BoxLeaf::banner_slider" resource="Magento_Backend::content" sortOrder="9999" title="BannerSlider"/>
		<add action="boxleaf_bannerslider/banners/index" id="BoxLeaf_BannerSlider::boxleaf_bannerslider_banners" module="BoxLeaf_BannerSlider" parent="BoxLeaf::banner_slider" resource="Magento_Backend::content" sortOrder="9999" title="Banners"/>
	</menu>
</config>
